@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', Helvetica, sans-serif;
  }
  body {
    @apply bg-white dark:bg-mosaik-dark-bg text-mosaik-black dark:text-white transition-colors duration-200;
  }
  button {
    border-radius: 0;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
